* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

.custom_timer_container {
    height: 100%; 
    width: 100%;
    background: white;
    border-radius: 0.5rem;

    /* border: 0.1rem solid black; */
}

.custom_timer_form {
    height: 100%;
    width: 100%;
}
/* ========================================================================== */
/* Title bar */
/* ========================================================================== */
.custom_timer_title_container {
    height: 30%;
    width: 100%;
    background: var(--grey);
    color: white;
    padding: 1rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0rem 0rem;

}
.custom_timer_close_btn {
    transform: scale(3);
    color: white;
}

.custom_timer_close_btn:hover {
    transform: scale(3.5);
    cursor: pointer;
}

/* ========================================================================== */
/* Content part */
/* ========================================================================== */
.custom_timer_content_container {
    height: 70%;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.custom_timer_details {
    width: 100%;
}

.custom_timer_label {
    font-weight: 400;
    padding-bottom: 1rem;
}

.custom_timer_field {
    width: 100%;
    margin-bottom: 1rem;
    border: 0.1rem black solid;
}

.custom_timer_field_errors {
    color: red;
}

.custom_timer_button {
    /* to get rid of the default button look */
    padding: 0;
    border: none;
    background: none;

    margin-top: 1rem;
    height: 4rem;
    width: 100%;

    background-color: lightblue;
}

.custom_timer_button:hover {
    cursor: pointer
}

/* ========================================================================== */
/* Common attributes like font-size */
/* ========================================================================== */
.custom_timer_label, .custom_timer_button {
    font-size: 1.5rem;
}

.custom_timer_button {
    border-radius: 0.1rem;
}

.custom_timer_field {
    font-size: 2rem;
    height: 3.5rem;
}